body {
    padding-top: 40px;
}

.done-task {
    color: #979797;
    text-decoration: line-through;
}

.task-container__task-text__task-date {
    color: #979797;
}

.task-container__task-text__task-date.overdue-task-date {
    color: red;
}

.done-task .task-container__task-text__task-date.overdue-task-date {
    color: #979797;
}

#new-task-input {
    margin-bottom: 10px;
}

#datetimepicker1 {
    margin-bottom: 10px;
}

.check-btn {
    margin-bottom: 5px;
}

.remove-btn {
    margin-left: 8px;
}